/**
 * Deixe que o chorme faça todo o trabalho
 */




body {
    margin-left: 2%;
    margin-right: 2%;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 0.9em;
    text-align: justify;
}

.campoAlterado > div {
    float: left;
    width: 50%;
}

.alteradoValor {
    margin-bottom: 20px;
}

.removidos .alteradoValor {
    color: red;
}

.acrescidos .alteradoValor {
    color: green;
}

header {
    clear: both;
    background: #D4E5F5;
    color: #000000;
    margin: 0 auto;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

#datasProcessamento {
    background: #F4FAFF;
    padding: 10px;
}


/* ====================================================
   TRATANDO A SECAO DE MEMBROS
   ==================================================== */
.pagina {
    width: 80%;
    margin-left: 10%;
}
.membro {
    width: 100%;
    margin-bottom: 40px;
}

.nomeLattes {
    overflow: hidden; /* Isso esta aqui porque float left nao tem height */
    background-color: #EEE;
    padding: 0 10px;
}

.nomeLattes > h3 {
    float: left;
    width: 50%;
    margin: 10px 0;
}

.acrescidos > span {
    color: green;
}

.removidos > span {
    color: red;
}

.tabelaAlterados > span {
    display: block;
    font-weight: bold;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

#filtros {
    margin-bottom: 10px;
}

.filtro {
    display: block;      float: left;
    margin: 10px;
}

#filtros > h3 {
    margin: 0;
}

.listraCinza {
    background-color: #F7F7F7;
}

.alteradoValor > span {
    display: block;
    margin-bottom: 25px;
}