@media print {
body {-webkit-print-color-adjust: exact !important;}
a[href]:after {
    content: none !important;
  }
}

.filtro {
    margin: 5px 10px 5px 0;
}


.alteracao-elemento {
    margin-bottom: 55px;
}

footer.well {
    margin-bottom: 0;
}

.acrescidos div, .acrescidos p {
    color: green !important;
}
.removidos div, .removidos p {
    color: red !important;
}
.movidos div, .movidos p {
    color: orange !important;
}
.alterados div, .alterados p {
    color: blue !important;
}

.alteracao-title {
    font-weight: bold;
}

div.nome-campo {
    color: black !important;
    word-wrap: break-word;
}


.alteracao-campo.even {
    background: #F7F7F7;
}


.alteracao-elemento:not(.expandido):hover {
    font-weight: bold;
}

.alteracao-elemento:hover {
    cursor: pointer;
}

.alteracao-elemento.expandido {
    font-weight: bold;
}
#btnAplicarFiltros {
    background: #EEE;
    line-height: 35px;
    position: fixed;
    bottom: 0;
    width: 80%;
    box-shadow: 0px 0px 15px red;
    margin-bottom: 50px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    z-index: 999;
}


.alteracao-elemento p {
    margin: 0;
}


.filtro-invisivel {
    display: none;
}


.filtro .text {
    cursor: pointer;
}