# arquivos de teste
*.bat
*.sh
output
debug/json/*.*
json - Copia
TODO.txt





# não queremos outputs no github né
outputs
test
exemplos
saida.txt





# arquivos de saída
json
xml





# sublime
subl





# cahce do python
__pycache__
**/*/__pycache__
scriptlattesdiff.pyc
