# arquivos de teste
*.bat
*.sh
output
debug/json/*.*
Django
# não queremos outputs no github né
outputs
test





# arquivos de saída
json
xml





# sublime
subl





# cahce do python
__pycache__
**/*/__pycache__